.percent {
    background: var(--primary-bg);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 25px;
    border: 2px solid var(--primary-border);
    padding: 20px;
    width: 850px;
    margin: 0 0 50px 0;
    box-sizing: border-box;
    height: 500px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.percent h2 {
    font-size: 150px;
    -webkit-text-stroke-width: 3px;
    margin: 0 0 0 0;
}

.percent h3 {
    font-size: 75px;
    color: #929293;
    margin: 0 0 0 0;
}

.select_row {
    display: flex;
    gap: 50px;
}

.select_row button {
    height: 170px;
    width: 400px;
    border-radius: 25px;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 200ms;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.22);
}

.select_row button svg {
    font-size: 100px;
    color: #929293;
}

.select_row button h2 {
    color: #929293;
    font-size: 60px;
}


.select_row button:hover {
    transform: scale(102%);
    filter: brightness(170%);
}

.select_row button:active {
    transform: scale(99%);
}


@media screen and (max-width: 460px){
    .percent {
        border-radius: 12px;
        border: 1.7px solid var(--primary-border);
        width: 300px;
        margin: 0 0 12px 0;
        height: 200px;
    }

    .percent h2 {
        font-size: 50px;
        -webkit-text-stroke-width: 1px;
    }

    .percent h3 {
        font-size: 25px;
    }

    .select_row {
        display: flex;
        gap: 12px;
    }
    .select_row button {
        height: 80px;
        width: 144px;
        border-radius: 12px;
        border: 1.2px solid rgba(255, 255, 255, 0.5);
    }

    .select_row button h2 {
        font-size: 20px;
    }

    .select_row button:hover {
        transform: scale(102%);
        filter: brightness(170%);
    }

    .select_row button:active {
        transform: scale(99%);
    }
}